<div class="container col-xs-12">
  <section class="my-games">

    <h2 class="text-center">Open Games</h2>
    <% @games.where(player_two_id: nil).each do |game| %>
      <div class="game-list-item">
        <ul class="list-unstyled">
          <li class="text-center"><h3><%= link_to game.name, game_path(game) %></h3></li>
          <% player1 = Player.find(game.player_one_id) %>
          <% case player1.first_name.nil? %>
            <% when true %>
              <li class="text-center"><h4>
                <%= player1.email + " vs " %>&nbsp;<%= link_to "Join Game", game_join_games_path(game.id), class: 'btn btn-sm btn-default', method: :post %></h4>
              </li>
            <% when false %>
              <li class ="text-center"><h4><%= player1.first_name + " vs " %>&nbsp;<%= link_to "Join Game", game_join_games_path(game.id), class: 'btn btn-sm btn-default', method: :post %></h4>
              </li>
            <% end %>
        </ul>
      </div>
    <% end %>
      
  <div class="clear"></div>

    <h2 class="text-center">Current Games</h2>
    <% @games.each do |game| %>
      <% if game.player_two_id != nil %>
        <div class="game-list-item">
          <ul class="list-unstyled">
            <li class="text-center">
              <h3><%= link_to game.name, game_path(game) %></h3>
            </li>
            <% player1, player2 = Player.find(game.player_one_id), Player.find(game.player_two_id) %>
            <% case [player1.first_name.nil?, player2.first_name.nil?] %>
              <% when [true, true] %>
                <li class="text-center"><h4><%= player1.email + " vs ".html_safe + player2.email %></h4></li>
              <% when [true, false] %>
                <li class="text-center"><h4><%= player1.email + " vs " + player2.first_name %></h4></li>
              <% when [false, true] %>
                <li class="text-center"><h4><%= player1.first_name + " vs ".html_safe + player2.email %></h4></li>
              <% when [false, false] %>
                <li class="text-center"><h4><%= player1.first_name + " vs ".html_safe + player2.first_name %></h4></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </section>
</div>
