<br />
<div class="container col-xs-12">
  <section class="my-games">
  <h1 class="text-center"><%= @game.name %></h1>

  <table id= "table_id", class = "chess-board">

    <% @board.board.each_with_index do |row, y| %>
      <tr>
	   <% row.each_with_index do |column, x| %>

       <!-- draw td data and piece glyphs -->     
	     <td data-x = <%= x %>, data-y = <%= y %>, class = "text-center chess-square">
       <% glyph = @board.piece_glyphs(y, x) %>
       <% if glyph != nil %>
       <%= link_to glyph,
            {controller: 'pieces',
             action: 'select_piece',
             y_position: y,
             x_position: x} %>
      <% else %>
        <%= link_to '#',
            {controller: 'pieces',
             action: 'select_piece',
             y_position: y,
             x_position: x} %>
	     </td>
        <% end %>
	     <% end %>
      </tr>
    <% end %>

  </table>
</section>
</div>
