<br />
<div class="container col-xs-12">
  <section class="my-games">
  <h1 class="text-center"><%= @game.name %></h1>

  <table id= "table_id", class = "chess-board">

    <% @board.board.each_with_index do |row, y| %>
      <tr>
	   <% row.each_with_index do |column, x| %>

       <!-- draw td data and piece glyphs -->     
	     <td data-x = <%= x %>, data-y = <%= y %>, data-name="edward", class = "text-center chess-square" id = "pieces">
       <% glyph = @board.piece_glyphs(y, x) %>
       <% if glyph != nil %>
       <%= link_to glyph, '#' %>
      <% else %>
        <%= link_to '#' %>
      <% end %>
	     </td>
        
	     <% end %>
      </tr>
    <% end %>

  </table>
<<<<<<< HEAD

  <script>
    $('td').click(function() {
      alert($( this ).dataset.x);
    });
  </script>

=======
</section>
>>>>>>> d65df4c41308e23f8f5d76fa2a76c126240d9c20
</div>
