<!DOCTYPE html>
<html>
  <head>
    <title>ChessGame</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <nav class="navbar navbar-static-top">
            <h3 class="masthead-brand"><%= link_to 'Team Whip', root_path %></h3>
              <ul class="nav navbar-left masthead-nav">
                <li class="<%= 'active' if current_page?(new_game_path) %>"><%= link_to 'Start a Game', new_game_path %></li>
                <li class="<%= 'active' if current_page?(games_path) %>"><%= link_to 'Current Games', games_path %></li>
              </ul>
              <ul class="nav navbar-right masthead-nav">
                <% if player_signed_in? %>
                  <% if current_player.first_name.present? %>
                    <li><%= link_to "#{current_player.first_name}'s Dashboard", dashboard_path %></li>
                  <% else %>
                    <li><%= link_to "User Dashboard", dashboard_path %></li>
                  <% end %>
                    <li><%= link_to 'Sign out', destroy_player_session_path, :method => :delete %></li>
                  <% else %>
                    <li><%= link_to 'Login', player_session_path %></li>
                    <li><%= link_to 'Sign Up', new_player_registration_path %></li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>

        <%= yield %>

        <!-- footer --> 
        <div class="mastfoot">
          <div class="inner">
            <div class="about-us pull-left">
              <a href="#">About Us</a> - <a href="#">Code</a>
            </div>
            <div class="github-icon pull-right">
              <%= link_to 'https://github.com/Team-whip/chess_app' do %>
                <%= image_tag 'GitHub-Mark-Light-32px.png', :class => 'social-media-icons' %>
              <% end %>
            </div>
          </div>
        </div>

      </div> <!-- /.cover-container -->
    </div> <!-- /.site-wrapper-inner -->
  </div> <!-- /.site-wrapper -->
  </body>
</html>
